#
# /etc/ipsec.secrets
#

# This file holds shared secrets or RSA private keys for authentication.

# RSA private key for this host, authenticating it to any other host
# which knows the public part.
${onprem_outside_address} ${tunnel1_address} : PSK "${tunnel1_preshared_key}"
${onprem_outside_address} ${tunnel2_address} : PSK "${tunnel2_preshared_key}"